<header class="d-flex flex-wrap justify-content-around bg-light py-3 mb-4">
  <div class="d-flex align-items-center text-dark">
    <span class="fw-bolder">
      Simple Angular-Bootstrap app
    </span>
  </div>
  <nav class="navbar navbar-expand navbar-light text-light">
    <div class="container">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 d-sm-flex align-items-center">
          <li class="nav-item m-2">
            <a class="nav-link p-1 active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link  p-1" routerLink="/search-transfer">Search a transfer</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link p-1" routerLink="/travel-options">Travel options</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
